absl-py
aiohttp>=3.9
async-timeout>=4.0
attrs>=23.0
black
blinker
bottleneck
brotlipy
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
cryptography
cycler
cytoolz
dask
debugpy
decorator
entrypoints
fonttools
fsspec
google-auth
google-auth-oauthlib
grpcio
h5py>=3.10
idna
imageio
imgaug
importlib-metadata
ipykernel
ipython
jedi
joblib
jupyter-client
jupyter-core
kiwisolver
markdown
matplotlib
# mkl-service
mpmath
multidict
nest-asyncio
networkx
numexpr
numpy>=1.24
oauthlib
opencv-python>=4.10
packaging
pandas>=2.2
parso
partd
pathspec
pexpect
pickleshare
pillow>=10.0
platformdirs
prompt-toolkit
protobuf>=4.25
ptyprocess
pyasn1
pyasn1-modules
pycparser
pygments
pyjwt
pyopenssl
pyparsing
pysocks
python-dateutil
pytz
pyu2f
pywavelets
pyyaml
pyzmq
requests
requests-oauthlib
rsa
scikit-image>=0.24
scikit-learn>=1.5
scipy>=1.13
seaborn
setuptools
shapely
six
sympy
tensorboard
threadpoolctl
timm>=1.0
tomli
toolz
torch>=2.3
torchaudio>=2.3
torchvision>=0.18
tornado
tqdm
traitlets
typing-extensions
unicodedata2
urllib3
wcwidth
werkzeug
wheel
anykeystore
argon2-cffi
argon2-cffi-bindings
asgiref
beautifulsoup4
bleach
caldav
clip
contextlib2
coverage
#cryptacular
defusedxml
django>=4.2
fastjsonschema
ftfy
greenlet
hupper
importlib-resources
ipywidgets
jinja2
jsonschema
jupyterlab-pygments
jupyterlab-widgets
lxml
markupsafe
mistune>=2.0
ml-collections
nbclient
nbconvert
nbformat
nose
notebook
pandocfilters
pastedeploy
pbkdf2
plaster
plaster-pastedeploy
prometheus-client
pyramid
pyramid-mailer
pyrsistent
python3-openid
regex
repoze-sendmail
send2trash
soupsieve
sqlalchemy>=2.0
sqlparse
terminado
tinycss2
transaction
translationstring
velruse
venusian
vobject
webencodings
webob
widgetsnbextension
wtforms
wtforms-recaptcha
zope-deprecation
zope-interface
zope-sqlalchemy
